<h1>Single student Record</h1>

<%# <%= link_to('ADD NEW STUDENT',new_student_path, :class=> 'action new')%>
Name : <%=@student.name%><br>
Age  : <%=@student.age%><br>
created at  : <%=@student.created_at%>

